services:
  - type: web
    name: budgetcalculator-api
    env: python
    plan: free
    buildCommand: ""
    startCommand: gunicorn budget_calculator:app
    envVars:
      - key: PORT
        value: 10000
